## Data checks on NLP parallel text (Phase II)

In [61]:
import pandas as pd

In [62]:
df1 = pd.read_excel("Sunbird-dataset-Final.xlsx")
df1.shape

(10000, 6)

In [63]:
df2 = pd.read_excel("Sunbird_phase_II_set_one.xlsx")
df2.shape

(5008, 6)

In [64]:
df3 = pd.read_excel("Sunbird_Phase_II_set_August.xlsx")
df3.shape

(3001, 6)

In [65]:
print(f"{df1.columns}\n{df2.columns}\n{df3.columns}")

Index(['English', 'Luganda', 'Runyankore', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Lugbara', 'Ateso', 'Acholi'], dtype='object')
Index(['ENGLISH', 'LUGANDA', 'RUNYANKOLE', 'ATESO', 'LUGBARA', 'ACHOLI'], dtype='object')

In [67]:
df3.columns = [col.title() for col in df3.columns]
print(f"{df1.columns}\n{df2.columns}\n{df3.columns}")

Index(['English', 'Luganda', 'Runyankore', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Lugbara', 'Ateso', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')

In [69]:
df1.rename(columns={"Runyankore": "Runyankole"}, inplace=True)
df1.columns

Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')

In [71]:
df2 = df2.reindex(columns=list(df1.columns))
df2.columns

Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')

In [72]:
df3 = df3.reindex(columns=list(df1.columns))
df3.columns

Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')

In [73]:
print(f"{df1.columns}\n{df2.columns}\n{df3.columns}")

Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')

In [76]:
df2.head(5)

,English,Luganda,Runyankole,Acholi,Ateso,Lugbara
0,It is important to sensitize the community aga...,Kikulu okubangula abantu ku kabi akali mu kulw...,N'ekyomugasho Okumanyitsa abantu b'ekyanga aha...,Pire tek me pwonyo lwak wek gulweny I kom buya...,Erai ibore yenepol noi aitejenikin itunga aron...,Eri kililiru 'ba yi imbazu e'yo ngirngirini ku...
1,They need to observe the sabbath day.,Balina okukwata olunaku lwa ssabbiiti.,Abantu beine okutwara eizooba rya sabiiti nk'e...,Myero wawor nino me Sabato.,Inumunumete kesi aparaan naka sabato.,Le yi ma inzi o'du sabato niri
2,They have not been paid like other regular sol...,Tebasasuddwa bulungi ng'abasirikale abalala wa...,Tibashashwire nk'amahe agandi oihireho obuhere...,Pud pe giculo-gi marom-aroma ki mony mukene ma...,Mam kesi etacitos isirikaalei ice karaida iswa...,"Ba ofeni yi ekile asikari azini 'diyi le ku, y..."
3,They are not considered for loans yet other so...,Tebaweebwa mabanja wadde nga bo abasirikale ab...,Tibarikubateekateekwaho kweguuza sente kandi a...,Pe kitingo ni guporre me nongo/gamo den kun mo...,Mam ecamakinitai kesi aijaun ilonin konye koca...,"Ba feni yi dri mari ku, de isu 'ba fe asikari ..."
4,Their only vehicle was not replaced last year.,Emmotoka emu yokka gye baalina tebaagizzaawo o...,Emootoka yaabo emwe t'eragarwirweho omwaka ogu...,Motokagi acel keken pe gileyo mwaka mukato.,Mam aponi kisiesai ekecemotoka ediope bon koka...,Ba awini mutukari ci yi vileri oja eli ajeria ku

### Check for missing translations

In [77]:
dfs = [df1, df2, df3]
for df in dfs:
    print(df.isnull().sum())

English       0
Luganda       1
Runyankole    0
Acholi        0
Ateso         0
Lugbara       1
dtype: int64
English       0
Luganda       0
Runyankole    0
Acholi        0
Ateso         0
Lugbara       0
dtype: int64
English       0
Luganda       0
Runyankole    0
Acholi        0
Ateso         0
Lugbara       0
dtype: int64

In [78]:
df1[df1["Luganda"].isnull()]

,English,Luganda,Runyankole,Acholi,Ateso,Lugbara
4000,This disease has the ability to kill every chi...,NaN,Oburwaire obu nibubaasa kwita buri omwe omukya...,Two eni twero neko latin mokeken,Erai adeka na epedori aiyar idio ikoku ocaalo ...,Azo 'di ma okpo anzi nyiri calo 'di ma alea 'd...

In [79]:
df1[df1["Lugbara"].isnull()]

,English,Luganda,Runyankole,Acholi,Ateso,Lugbara
7181,The bureaucratic tendencies within the governm...,Emitendera egiri mu gavumenti giremesezza okut...,Okukuratira ebiragiro okuri omu Gavumenti kure...,Gale iyo me tic pa gamente oweko yub madwong p...,Esimik eswamae loaronon lo ejai apugan ageuno ...,NaN

In [80]:
df1.drop(df1[df1["Luganda"].isnull()].index, inplace=True)
df1.drop(df1[df1["Lugbara"].isnull()].index, inplace=True)

In [81]:
df1.shape

(9998, 6)

In [82]:
dfs = [df1, df2, df3]
for df in dfs:
    print(df.isnull().sum())

English       0
Luganda       0
Runyankole    0
Acholi        0
Ateso         0
Lugbara       0
dtype: int64
English       0
Luganda       0
Runyankole    0
Acholi        0
Ateso         0
Lugbara       0
dtype: int64
English       0
Luganda       0
Runyankole    0
Acholi        0
Ateso         0
Lugbara       0
dtype: int64

In [93]:
df_int = df1.append(df2)
df_final = df_int.append(df3)
df_final.head()

,English,Luganda,Runyankole,Acholi,Ateso,Lugbara
0,Eggplants always grow best under warm conditions.,Bbiringanya lubeerera asinga kukulira mu mbee...,Entonga buriijo zikurira omu mbeera y'obwire e...,Bilinyanya pol kare dongo maber ka lyeto tye,Epoloi ebirinyanyi ojok apakio nu emwanar akwap.,Birinyanya eyi zo kililiru ndeni angu driza ma...
1,Farmland is sometimes a challenge to farmers.,Ettaka ly'okulimirako n'okulundirako ebiseera ...,"Eitaka ry'okuhingamu, obumwe n'obumwe nirireet...",Ngom me pur i kare mukene obedo peko madit bot...,Akiro nu alupok nes erai ationis kanejaas akoriok,Amvu ma angu eri sa'wa azini 'diyisi 'ba amvu ...
2,Farmers should be encouraged to grow more coffee.,Abalimi balina okukubirizibwa okwongera okulim...,Abahingi bashemereire kuhigwa bongyere okuhing...,Lupur omyero ki konygi wek nong miti me puru m...,Ekot aisinyikokit akoriok akoru emwanyi loepol,Le 'ba ma fe 'ba amvu 'yapi 'diyini ava kawa '...
3,Uganda is focusing on farming.,Uganda essira eritadde ku bulimi.,Uganda eteire amaani aha buhingi n'oburiisa.,Uganda tye ka keme ki lok me pur,Uganda nes ejai akiro nu akoru.,Kari Uganda niri eri asi'baza be amvu 'yaza ma...
4,Some plants die due to lack of sunlight.,Ebimera ebimu bifa olw'ebbula ly'omusana.,Ebihingwa ebimwe nibyoma ahabw'okubura omushana.,jami apita mukene too woko pien pe ginongo cen...,Icie ikorion etwakete naarai emamei akolong.,Ori azi 'diyi odra te ituka ma akosi.

In [94]:
df_final.shape

(18007, 6)

In [95]:
df_final.columns

Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')

## Convert to `jsonl` format

In [92]:
df_final.to_json('sunbird-ug-lang-v3.0.jsonl', orient='records', lines=True)