## Exploratory data analysis and data cleaning of the NLP parallel text dataset

In [97]:
import pandas as pd

## Exploring the separate chunks of the dataset as they were received from MakAI

### First chunk of the dataset

In [98]:
df1 = pd.read_excel("Sunbird-dataset-Final.xlsx")
df1.head(2)

,English,Luganda,Runyankore,Acholi,Ateso,Lugbara,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Eggplants always grow best under warm conditions.,Bbiringanya lubeerera asinga kukulira mu mbee...,Entonga buriijo zikurira omu mbeera y'obwire e...,Bilinyanya pol kare dongo maber ka lyeto tye,Epoloi ebirinyanyi ojok apakio nu emwanar akwap.,Birinyanya eyi zo kililiru ndeni angu driza ma...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Farmland is sometimes a challenge to farmers.,Ettaka ly'okulimirako n'okulundirako ebiseera ...,"Eitaka ry'okuhingamu, obumwe n'obumwe nirireet...",Ngom me pur i kare mukene obedo peko madit bot...,Akiro nu alupok nes erai ationis kanejaas akoriok,Amvu ma angu eri sa'wa azini 'diyisi 'ba amvu ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df1 = df1.loc[:, ~df1.columns.str.startswith("Unnamed")]
df1.head(2)

,English,Luganda,Runyankore,Acholi,Ateso,Lugbara
0,Eggplants always grow best under warm conditions.,Bbiringanya lubeerera asinga kukulira mu mbee...,Entonga buriijo zikurira omu mbeera y'obwire e...,Bilinyanya pol kare dongo maber ka lyeto tye,Epoloi ebirinyanyi ojok apakio nu emwanar akwap.,Birinyanya eyi zo kililiru ndeni angu driza ma...
1,Farmland is sometimes a challenge to farmers.,Ettaka ly'okulimirako n'okulundirako ebiseera ...,"Eitaka ry'okuhingamu, obumwe n'obumwe nirireet...",Ngom me pur i kare mukene obedo peko madit bot...,Akiro nu alupok nes erai ationis kanejaas akoriok,Amvu ma angu eri sa'wa azini 'diyisi 'ba amvu ...

In [100]:
df1.shape

(10000, 6)

### Second chunk

In [101]:
df2 = pd.read_excel("Sunbird_phase_II_set_one.xlsx")
df2.head(2)

,English,Luganda,Runyankole,Lugbara,Ateso,Acholi,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,It is important to sensitize the community aga...,Kikulu okubangula abantu ku kabi akali mu kulw...,N'ekyomugasho Okumanyitsa abantu b'ekyanga aha...,Eri kililiru 'ba yi imbazu e'yo ngirngirini ku...,Erai ibore yenepol noi aitejenikin itunga aron...,Pire tek me pwonyo lwak wek gulweny I kom buya...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,They need to observe the sabbath day.,Balina okukwata olunaku lwa ssabbiiti.,Abantu beine okutwara eizooba rya sabiiti nk'e...,Le yi ma inzi o'du sabato niri,Inumunumete kesi aparaan naka sabato.,Myero wawor nino me Sabato.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df2 = df2.loc[:, ~df2.columns.str.startswith("Unnamed")]
df2.head(2)

,English,Luganda,Runyankole,Lugbara,Ateso,Acholi
0,It is important to sensitize the community aga...,Kikulu okubangula abantu ku kabi akali mu kulw...,N'ekyomugasho Okumanyitsa abantu b'ekyanga aha...,Eri kililiru 'ba yi imbazu e'yo ngirngirini ku...,Erai ibore yenepol noi aitejenikin itunga aron...,Pire tek me pwonyo lwak wek gulweny I kom buya...
1,They need to observe the sabbath day.,Balina okukwata olunaku lwa ssabbiiti.,Abantu beine okutwara eizooba rya sabiiti nk'e...,Le yi ma inzi o'du sabato niri,Inumunumete kesi aparaan naka sabato.,Myero wawor nino me Sabato.

In [103]:
df2.shape

(5008, 6)

### Third chunk

In [104]:
df3 = pd.read_excel("Sunbird_Phase_II_set_August.xlsx")
df3.head(2)

,ENGLISH,LUGANDA,RUNYANKOLE,ATESO,LUGBARA,ACHOLI
0,The more members you have the more votes in an...,Gy'okoma okuba n'abantu abangi gy'okoma okufun...,"Abantu baingi abu orikuba oine, nibwo buruuru ...","Neipuatar imeeban, ipuakata abootin da.",Mi vile memba 'diyi ma kalafeni ovuzu angiri v...,"Ka itye ki lumemba mapol, kwir bene inongo map..."
1,Political parties say their voter strength has...,Ebibiina by'obufuzi bigamba nti abantu ababiwa...,Ebibiina by'obutegyeki nibigira ngu amaani ga...,Ebakasi ipatei luka politikis ebe eyatakinos i...,Amuti politikini 'diyi 'yo kini 'ba voti 'bepi...,Dul me cungu iwi bye mapol waco ni wel Lubol k...

In [105]:
df3.shape

(3001, 6)

### Fourth chunk

In [106]:
df4 = pd.read_excel("Sunbird_Phase_II_set_September_1.xlsx")
df4.head(2)

,English,Luganda,Runyankore,Ateso,Lugbara,Acholi
0,He is the new ambassador to China.,Ye mubaka omupya mu China.,Niwe omujwekyerwa omutsya omuri China.,Erai ngesi abwoikiniton loitetet loka akwap na...,Eri ojio o'di Chinaari'i,En obedo lacungo dwar pi lobo China
1,She told her brother to mind his business.,Yagamba mwannyina affe ku bimukwatako.,Akagambira munyaanya we kwafa aha mirimo ye.,Abungesi kolimok ngesi apodokinit nuke.,Eri 'yo kini i ma adri ma fe dri e'yo erini 'd...,En owaco bot ominne ni omak ma okemme.

In [107]:
df4.shape

(3500, 6)

### Fifth chunk

In [108]:
df5 = pd.read_excel("Sunbird_Phase_II_October.xlsx")
df5.head(2)

,English,Luganda,Runyankore,Ateso,Lugbara,Acholi
0,He built his mother a new house.,Yazimbira maama we ennyumba empya.,Akombekyera nyina enju nsya.,Abu ngesi kodukok totoke etogo loitetet,Eri si i ma andri dri jo o'diruni ra,En ogero ot manyen ki mine.
1,She was caught red handed in a lodge with her ...,Yakwatibwa lubona mu loogi ne bba wa mukwano gwe.,Akakwatirwa butaama omu roogi n'iba wa munywan...,Aponi ikamunai ngesi eyelosi koloji keda opape...,Ba bi eri 'woro loji ma alia eri ma agyi vile ...,Ki make ka buto ki cwa lareme I ot buto apanaga.

In [109]:
df5.shape

(3500, 6)

## Cleaning and concatenating all the chunks into one dataset

#### Checking the column names:

In [110]:
print(f"{df1.columns}\n{df2.columns}\n{df3.columns}\n{df4.columns}\n{df5.columns}")

Index(['English', 'Luganda', 'Runyankore', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Lugbara', 'Ateso', 'Acholi'], dtype='object')
Index(['ENGLISH', 'LUGANDA', 'RUNYANKOLE', 'ATESO', 'LUGBARA', 'ACHOLI'], dtype='object')
Index(['English', 'Luganda', 'Runyankore', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankore', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')

#### Ensuring that the column names have the same case:

In [111]:
df3.columns = [col.title() for col in df3.columns]

print(f"{df3.columns}")

Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')

#### Renaming the `Runyankole` columns to ensure that they all have a matching spelling:

In [112]:
df1.rename(columns={"Runyankore": "Runyankole"}, inplace=True)
df4.rename(columns={"Runyankore": "Runyankole"}, inplace=True)
df5.rename(columns={"Runyankore": "Runyankole"}, inplace=True)

print(f"{df1.columns}\n{df2.columns}\n{df3.columns}\n{df4.columns}\n{df5.columns}")

Index(['English', 'Luganda', 'Runyankole', 'Acholi', 'Ateso', 'Lugbara'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Lugbara', 'Ateso', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')

#### Changing the order of the columns in the chunks so that they all match:

In [113]:
df1 = df1.reindex(columns=list(df5.columns))
df2 = df2.reindex(columns=list(df5.columns))

print(f"{df1.columns}\n{df2.columns}\n{df3.columns}\n{df4.columns}\n{df5.columns}")

Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')
Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')

#### Check for missing translations

In [114]:
dfs = [df1, df2, df3, df4, df5]

for df in dfs:
    print(df.isnull().sum())

English       0
Luganda       1
Runyankole    0
Ateso         0
Lugbara       1
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64

In [115]:
df1[df1["Luganda"].isnull()]

,English,Luganda,Runyankole,Ateso,Lugbara,Acholi
4000,This disease has the ability to kill every chi...,NaN,Oburwaire obu nibubaasa kwita buri omwe omukya...,Erai adeka na epedori aiyar idio ikoku ocaalo ...,Azo 'di ma okpo anzi nyiri calo 'di ma alea 'd...,Two eni twero neko latin mokeken

In [116]:
df1[df1["Lugbara"].isnull()]

,English,Luganda,Runyankole,Ateso,Lugbara,Acholi
7181,The bureaucratic tendencies within the governm...,Emitendera egiri mu gavumenti giremesezza okut...,Okukuratira ebiragiro okuri omu Gavumenti kure...,Esimik eswamae loaronon lo ejai apugan ageuno ...,NaN,Gale iyo me tic pa gamente oweko yub madwong p...

#### Clean up the missing translations in the first chunk:

In [117]:
# These two rows are being deleted because they have missing translations 
# They are from the very first dataset, which was already used for model training with these rows excluded
df1.drop(df1[df1["Luganda"].isnull()].index, inplace=True)
df1.drop(df1[df1["Lugbara"].isnull()].index, inplace=True)

In [118]:
df1.shape

(9998, 6)

In [119]:
for df in dfs:
    print(df.isnull().sum())

English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64
English       0
Luganda       0
Runyankole    0
Ateso         0
Lugbara       0
Acholi        0
dtype: int64

In [120]:
df_int = df1.append(df2)
df_int_2 = df_int.append(df3)
df_int_3 = df_int_2.append(df4)
df_final = df_int_3.append(df5)
df_final.head()

,English,Luganda,Runyankole,Ateso,Lugbara,Acholi
0,Eggplants always grow best under warm conditions.,Bbiringanya lubeerera asinga kukulira mu mbee...,Entonga buriijo zikurira omu mbeera y'obwire e...,Epoloi ebirinyanyi ojok apakio nu emwanar akwap.,Birinyanya eyi zo kililiru ndeni angu driza ma...,Bilinyanya pol kare dongo maber ka lyeto tye
1,Farmland is sometimes a challenge to farmers.,Ettaka ly'okulimirako n'okulundirako ebiseera ...,"Eitaka ry'okuhingamu, obumwe n'obumwe nirireet...",Akiro nu alupok nes erai ationis kanejaas akoriok,Amvu ma angu eri sa'wa azini 'diyisi 'ba amvu ...,Ngom me pur i kare mukene obedo peko madit bot...
2,Farmers should be encouraged to grow more coffee.,Abalimi balina okukubirizibwa okwongera okulim...,Abahingi bashemereire kuhigwa bongyere okuhing...,Ekot aisinyikokit akoriok akoru emwanyi loepol,Le 'ba ma fe 'ba amvu 'yapi 'diyini ava kawa '...,Lupur omyero ki konygi wek nong miti me puru m...
3,Uganda is focusing on farming.,Uganda essira eritadde ku bulimi.,Uganda eteire amaani aha buhingi n'oburiisa.,Uganda nes ejai akiro nu akoru.,Kari Uganda niri eri asi'baza be amvu 'yaza ma...,Uganda tye ka keme ki lok me pur
4,Some plants die due to lack of sunlight.,Ebimera ebimu bifa olw'ebbula ly'omusana.,Ebihingwa ebimwe nibyoma ahabw'okubura omushana.,Icie ikorion etwakete naarai emamei akolong.,Ori azi 'diyi odra te ituka ma akosi.,jami apita mukene too woko pien pe ginongo cen...

In [121]:
df_final.shape

(25007, 6)

In [122]:
df_final.columns

Index(['English', 'Luganda', 'Runyankole', 'Ateso', 'Lugbara', 'Acholi'], dtype='object')

## Convert to `jsonl` format

### Remove `\n` at the end of some lines of text

In [123]:
for column in df_final.columns:
    df_final[column] = df_final[column].str.strip()

Note: Check for the presence of `\n` in the middle of a sentence

### Convert to jsonl

In [125]:
df_final.to_json("sunbird-ug-lang-v5.0.jsonl", orient="records", lines=True)